@model  IEnumerable<Models.ScoreModel>


@{
    var gridScores = new WebGrid(Model, canPage: false,
    selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
}

<link href="~/Content/css/site/grid.css" rel="stylesheet" />
<link href="~/Content/css/site/score-grid.css" rel="stylesheet" />

<div class="col-md-6">
    <button type="button" class="btn btn-primary btn-block btn-large scores-save-button"><i class="fa fa-search" aria-hidden="true"></i> Save</button>
</div>

<div class="col-lg-11">
    <div class="grid-container">
        @gridScores.GetHtml(tableStyle: "table table-responsive scores-table webGrid",
                        footerStyle: "footer",
                        headerStyle: "header",
                        alternatingRowStyle: "alt score-item",
                        selectedRowStyle: "select",
                        rowStyle: "webgrid-row-style score-item",
                        mode: WebGridPagerModes.All,
                        columns: ViewBag.Columns
                        )
    </div>
</div>
<div class="col-md-6">
    <button type="button" class="btn btn-primary btn-block btn-large scores-save-button"><i class="fa fa-search" aria-hidden="true"></i> Save</button>
</div>

