@model  IEnumerable<Models.ScoreModel>


@{
    var gridScores = new WebGrid(Model, canPage: false,
    selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
}

<link href="~/Content/css/site/grid.css" rel="stylesheet" />
<link href="~/Content/css/site/grids/score-grid.css" rel="stylesheet" />

<hr class="score-grid-divider">

<div class="col-md-6">
    <button type="button" class="btn btn-primary btn-block btn-large scores-save-button"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
</div>

<div class="col-lg-11">
    <div class="grid-container">
        @gridScores.GetHtml(tableStyle: "table table-responsive scores-table webGrid",
                        footerStyle: "footer",
                        headerStyle: "header",
                        alternatingRowStyle: "alt score-item",
                        selectedRowStyle: "select",
                        rowStyle: "score-item",
                        mode: WebGridPagerModes.All,
                        columns: ViewBag.Columns
                        )
    </div>
</div>
<div class="col-md-6">
    <button type="button" class="btn btn-primary btn-block btn-large scores-save-button"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
</div>

