@model Models.StudentModel

@{
    ViewBag.Title = "Student";
    Layout = "~/Layouts/DashboardLayout.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Student 
                </h1>
            </div>
        </div>

        <!-- Form -->
        <div class="col-md-4">
            @using (Html.BeginForm("Save", "Student", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.Id)

                <div class="form-group">
                    <label>First Name:</label>
                    @Html.TextBoxFor(m => m.FirstName, new { required = "required", placeholder = "First Name", @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Last Name:</label>
                    @Html.TextBoxFor(m => m.LastName, new { required = "required", placeholder = "Last Name", @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Class:</label>
                    @Html.DropDownListFor(m => m.ClassId, Model.Classes, new { @class = "form-control" })
                </div>

                <button type="submit" class="btn btn-primary btn-block btn-large">Save</button>
            }
        </div>
    </div>
</div>