@model Models.ImportModel

@{
    ViewBag.Title = "Importar";
    Layout = "~/Layouts/DashboardLayout.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Importar Estudiantes
                </h1>
            </div>
        </div>

        @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
        {
            <!-- Error -->
            <div class="row">
                <div class="col-lg-6 success-message">
                    @ViewBag.SuccessMessage
                </div>
            </div>
        }


        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <!-- Error -->
            <div class="row">
                <div class="col-lg-6 error-message">
                    @ViewBag.ErrorMessage
                </div>
            </div>
        }

        <!-- Form -->
        <div class="col-md-4">
            @using (Html.BeginForm("Import", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <label>Importar Archivo:</label>
                    <input type="file" name="importFile"/>
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-large">Importar</button>
            }
        </div>
    </div>
</div>

