html, body {
    height: 100%;
}

#wrapper {
    height: 100%;
}

#page-wrapper {
    min-height: 100%;
}

.filters-container {
    margin-bottom: 3%;
}

.new-button, .edit-button, .save-button, .cancel-button {
    font-size: 22px;
}

