html, body {
    height: 100%;
}

#wrapper {
    height: 100%;
}

#page-wrapper {
    min-height: 100%;
}

.filters-container {
    margin-bottom: 2%;
}

.new-button, .edit-button, .save-button, .cancel-button, .remove-button {
    font-size: 22px;
}

.btn-submit {
    margin-top: 20px;
}

.error-message {
    background-color: #f5d9d8;
    color: red;
    padding: 15px;
    border: 1px solid #cc8e8e;
    margin-bottom: 15px;
}

.success-message {
    background-color: #9cec9c;
    color: #3c763d;
    padding: 15px;
    border: 1px solid #3c763d;
    margin-bottom: 15px;
}

span#user-in-content {
    margin-left: 5px;
}
