USE [master]
GO
/****** Object:  Database [dbb1d5d26d1a7940d6ad83a6fd0189a61d]    Script Date: 22-Mar-17 10:55:28 PM ******/
CREATE DATABASE [dbb1d5d26d1a7940d6ad83a6fd0189a61d] ON  PRIMARY 
( NAME = N'dbb1d5d26d1a7940d6ad83a6fd0189a61d', FILENAME = N'D:\mssqldata\dbb1d5d26d1a7940d6ad83a6fd0189a61d.mdf' , SIZE = 2304KB , MAXSIZE = 20480KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbb1d5d26d1a7940d6ad83a6fd0189a61d_log', FILENAME = N'E:\mssqllog\dbb1d5d26d1a7940d6ad83a6fd0189a61d_log.LDF' , SIZE = 768KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbb1d5d26d1a7940d6ad83a6fd0189a61d].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbb1d5d26d1a7940d6ad83a6fd0189a61d]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 22-Mar-17 10:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NULL,
	[InstitutionId] [int] NOT NULL,
	[SchoolYearId] [int] NOT NULL,
	[YearCreated] [int] NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClassesByUsers]    Script Date: 22-Mar-17 10:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassesByUsers](
	[UserId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[YearCreated] [int] NOT NULL,
 CONSTRAINT [PK_ClassesByUsers] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ClassId] ASC,
	[YearCreated] ASC,
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Exams]    Script Date: 22-Mar-17 10:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NULL,
	[Percentage] [float] NOT NULL,
	[Score] [int] NOT NULL,
	[RegisterProfileId] [int] NOT NULL,
 CONSTRAINT [PK_Exams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ExamScores]    Script Date: 22-Mar-17 10:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamScores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ScoreRegisterId] [int] NOT NULL,
	[ExamId] [int] NOT NULL,
	[ExamScore] [float] NOT NULL,
	[ExamPoints] [float] NOT NULL,
	[ExamPercentage] [float] NOT NULL,
 CONSTRAINT [PK_ExamScores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ExtraclassWorks]    Script Date: 22-Mar-17 10:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExtraclassWorks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NULL,
	[Percentage] [float] NOT NULL,
	[RegisterProfileId] [int] NOT NULL,
 CONSTRAINT [PK_ExtraclassWorks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ExtraclassWorksScores]    Script Date: 22-Mar-17 10:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExtraclassWorksScores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ScoreRegisterId] [int] NOT NULL,
	[ExtraclassWorkId] [int] NOT NULL,
	[ExtraclassWorkPercentage] [float] NOT NULL,
 CONSTRAINT [PK_ExtraclassWorksScores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Institution]    Script Date: 22-Mar-17 10:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Institution](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Institution] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RegisterProfiles]    Script Date: 22-Mar-17 10:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegisterProfiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[UserId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[TrimesterId] [int] NOT NULL,
	[SchoolYearId] [int] NOT NULL,
	[DailyWorkPercentage] [float] NOT NULL CONSTRAINT [DF_RegisterProfiles_DailyWorkPercentage]  DEFAULT ((0)),
	[ConceptPercentage] [float] NOT NULL CONSTRAINT [DF_RegisterProfiles_ConceptPercentage]  DEFAULT ((0)),
	[AssistancePercentage] [float] NOT NULL CONSTRAINT [DF_RegisterProfiles_AssistancePercentage]  DEFAULT ((0)),
	[NumberOfLessons] [int] NOT NULL CONSTRAINT [DF_RegisterProfiles_NumberOfLessons]  DEFAULT ((0)),
	[YearCreated] [int] NULL,
 CONSTRAINT [PK_RegisterProfile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 22-Mar-17 10:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SchoolYears]    Script Date: 22-Mar-17 10:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchoolYears](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](15) NOT NULL,
	[Year] [int] NOT NULL,
 CONSTRAINT [PK_SchoolYears] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Scores]    Script Date: 22-Mar-17 10:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegisterProfileId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
	[DailyWorkPercentage] [float] NOT NULL,
	[ConceptPercentage] [float] NOT NULL,
	[AssistancePercentage] [float] NOT NULL,
	[Belated] [int] NOT NULL,
	[Absences] [int] NOT NULL,
	[YearCreated] [int] NOT NULL,
 CONSTRAINT [PK_Scores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Students]    Script Date: 22-Mar-17 10:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CardId] [nvarchar](30) NULL,
	[FirstName] [nvarchar](40) NOT NULL,
	[LastName] [nvarchar](85) NOT NULL,
	[ClassId] [int] NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 22-Mar-17 10:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Trimesters]    Script Date: 22-Mar-17 10:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trimesters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](15) NULL,
 CONSTRAINT [PK_Trimesters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 22-Mar-17 10:55:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](25) NOT NULL,
	[Password] [nvarchar](25) NOT NULL,
	[FirstName] [nvarchar](25) NULL,
	[LastName] [nvarchar](25) NULL,
	[InstitutionId] [int] NULL,
	[RolId] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([Id], [Name], [InstitutionId], [SchoolYearId], [YearCreated]) VALUES (9, N'7-1       ', 1, 1, 2017)
INSERT [dbo].[Classes] ([Id], [Name], [InstitutionId], [SchoolYearId], [YearCreated]) VALUES (10, N'7-3       ', 1, 1, 2017)
INSERT [dbo].[Classes] ([Id], [Name], [InstitutionId], [SchoolYearId], [YearCreated]) VALUES (11, N'7-4       ', 1, 1, 2017)
SET IDENTITY_INSERT [dbo].[Classes] OFF
INSERT [dbo].[ClassesByUsers] ([UserId], [ClassId], [SubjectId], [YearCreated]) VALUES (1, 9, 1, 2017)
INSERT [dbo].[ClassesByUsers] ([UserId], [ClassId], [SubjectId], [YearCreated]) VALUES (1, 10, 5, 2017)
INSERT [dbo].[ClassesByUsers] ([UserId], [ClassId], [SubjectId], [YearCreated]) VALUES (1, 11, 5, 2017)
SET IDENTITY_INSERT [dbo].[Exams] ON 

INSERT [dbo].[Exams] ([Id], [Name], [Percentage], [Score], [RegisterProfileId]) VALUES (8, N'Primer parcial', 30, 50, 3)
INSERT [dbo].[Exams] ([Id], [Name], [Percentage], [Score], [RegisterProfileId]) VALUES (9, N'Segundo parcial', 35, 50, 3)
INSERT [dbo].[Exams] ([Id], [Name], [Percentage], [Score], [RegisterProfileId]) VALUES (10, N'Primer parcial', 30, 50, 4)
SET IDENTITY_INSERT [dbo].[Exams] OFF
SET IDENTITY_INSERT [dbo].[ExtraclassWorks] ON 

INSERT [dbo].[ExtraclassWorks] ([Id], [Name], [Percentage], [RegisterProfileId]) VALUES (7, N'Método científico', 5, 3)
INSERT [dbo].[ExtraclassWorks] ([Id], [Name], [Percentage], [RegisterProfileId]) VALUES (8, N'Investigación', 5, 3)
INSERT [dbo].[ExtraclassWorks] ([Id], [Name], [Percentage], [RegisterProfileId]) VALUES (9, N'Investigación 1', 5, 4)
SET IDENTITY_INSERT [dbo].[ExtraclassWorks] OFF
SET IDENTITY_INSERT [dbo].[Institution] ON 

INSERT [dbo].[Institution] ([Id], [Name]) VALUES (1, N'Colegio San Luis Gonzaga')
SET IDENTITY_INSERT [dbo].[Institution] OFF
SET IDENTITY_INSERT [dbo].[RegisterProfiles] ON 

INSERT [dbo].[RegisterProfiles] ([Id], [Name], [UserId], [SubjectId], [TrimesterId], [SchoolYearId], [DailyWorkPercentage], [ConceptPercentage], [AssistancePercentage], [NumberOfLessons], [YearCreated]) VALUES (3, N'Octavo Primer Trimestre 2017', 2, 5, 1, 2, 15, 5, 5, 55, 2017)
INSERT [dbo].[RegisterProfiles] ([Id], [Name], [UserId], [SubjectId], [TrimesterId], [SchoolYearId], [DailyWorkPercentage], [ConceptPercentage], [AssistancePercentage], [NumberOfLessons], [YearCreated]) VALUES (4, N'Cuarto Primer trimestre 2017', 2, 1, 1, 4, 15, 5, 5, 55, 2017)
SET IDENTITY_INSERT [dbo].[RegisterProfiles] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Administrador')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Docente')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (3, N'Director')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[SchoolYears] ON 

INSERT [dbo].[SchoolYears] ([Id], [Name], [Year]) VALUES (1, N'Sétimo', 7)
INSERT [dbo].[SchoolYears] ([Id], [Name], [Year]) VALUES (2, N'Octavo', 8)
INSERT [dbo].[SchoolYears] ([Id], [Name], [Year]) VALUES (3, N'Noveno', 9)
SET IDENTITY_INSERT [dbo].[SchoolYears] OFF
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [CardId], [FirstName], [LastName], [ClassId]) VALUES (168, N'3-0550-0920', N'BRITHANY DE LOS ANGELES', N'ABARCA AGUILAR', 9)
INSERT [dbo].[Students] ([Id], [CardId], [FirstName], [LastName], [ClassId]) VALUES (169, N'3-0553-0227', N'ANDRES SAMIR', N'ACEVEDO CARVAJAL', 9)
INSERT [dbo].[Students] ([Id], [CardId], [FirstName], [LastName], [ClassId]) VALUES (170, N'3-0554-0496', N'SEBASTIAN', N'AGUILAR GUIDO', 9)
GO
SET IDENTITY_INSERT [dbo].[Students] OFF
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([Id], [Name]) VALUES (1, N'Biologia')
INSERT [dbo].[Subjects] ([Id], [Name]) VALUES (2, N'Ingles')
INSERT [dbo].[Subjects] ([Id], [Name]) VALUES (3, N'Estudios Sociales')
SET IDENTITY_INSERT [dbo].[Subjects] OFF
SET IDENTITY_INSERT [dbo].[Trimesters] ON 

INSERT [dbo].[Trimesters] ([Id], [Name]) VALUES (1, N'Primer')
INSERT [dbo].[Trimesters] ([Id], [Name]) VALUES (2, N'Segundo')
INSERT [dbo].[Trimesters] ([Id], [Name]) VALUES (3, N'Tercero')
SET IDENTITY_INSERT [dbo].[Trimesters] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [FirstName], [LastName], [InstitutionId], [RolId]) VALUES (1, N'achacon', N'123', N'Allan', N'Chacon', 1, 1)
INSERT [dbo].[Users] ([Id], [Username], [Password], [FirstName], [LastName], [InstitutionId], [RolId]) VALUES (2, N'nrojas', N'123', N'Nuria', N'Rojas', 1, 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Users]    Script Date: 22-Mar-17 10:55:32 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExamScores] ADD  CONSTRAINT [DF_ExamScores_ExamScore]  DEFAULT ((0)) FOR [ExamScore]
GO
ALTER TABLE [dbo].[ExamScores] ADD  CONSTRAINT [DF_ExamScores_ExamPoints]  DEFAULT ((0)) FOR [ExamPoints]
GO
ALTER TABLE [dbo].[ExamScores] ADD  CONSTRAINT [DF_ExamScores_ExamPercentage]  DEFAULT ((0)) FOR [ExamPercentage]
GO
ALTER TABLE [dbo].[ExtraclassWorksScores] ADD  CONSTRAINT [DF_ExtraclassWorksScores_ExtraclassWorkPercentage]  DEFAULT ((0)) FOR [ExtraclassWorkPercentage]
GO
ALTER TABLE [dbo].[Scores] ADD  CONSTRAINT [DF_Scores_DailyWorkPercentage]  DEFAULT ((0)) FOR [DailyWorkPercentage]
GO
ALTER TABLE [dbo].[Scores] ADD  CONSTRAINT [DF_Scores_ConceptPercentage]  DEFAULT ((0)) FOR [ConceptPercentage]
GO
ALTER TABLE [dbo].[Scores] ADD  CONSTRAINT [DF_Scores_AssistancePercentage]  DEFAULT ((0)) FOR [AssistancePercentage]
GO
ALTER TABLE [dbo].[Scores] ADD  CONSTRAINT [DF_Scores_Belated]  DEFAULT ((0)) FOR [Belated]
GO
ALTER TABLE [dbo].[Scores] ADD  CONSTRAINT [DF_Scores_Absences]  DEFAULT ((0)) FOR [Absences]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_Institution] FOREIGN KEY([InstitutionId])
REFERENCES [dbo].[Institution] ([Id])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_Institution]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_SchoolYears] FOREIGN KEY([SchoolYearId])
REFERENCES [dbo].[SchoolYears] ([Id])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_SchoolYears]
GO
ALTER TABLE [dbo].[ClassesByUsers]  WITH CHECK ADD  CONSTRAINT [FK_ClassesByUsers_Classes] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([Id])
GO
ALTER TABLE [dbo].[ClassesByUsers] CHECK CONSTRAINT [FK_ClassesByUsers_Classes]
GO
ALTER TABLE [dbo].[ClassesByUsers]  WITH CHECK ADD  CONSTRAINT [FK_ClassesByUsers_Subjects] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
GO
ALTER TABLE [dbo].[ClassesByUsers] CHECK CONSTRAINT [FK_ClassesByUsers_Subjects]
GO
ALTER TABLE [dbo].[ClassesByUsers]  WITH CHECK ADD  CONSTRAINT [FK_ClassesByUsers_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ClassesByUsers] CHECK CONSTRAINT [FK_ClassesByUsers_Users]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_RegisterProfiles] FOREIGN KEY([RegisterProfileId])
REFERENCES [dbo].[RegisterProfiles] ([Id])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_RegisterProfiles]
GO
ALTER TABLE [dbo].[ExamScores]  WITH CHECK ADD  CONSTRAINT [FK_ExamScores_Exams] FOREIGN KEY([ExamId])
REFERENCES [dbo].[Exams] ([Id])
GO
ALTER TABLE [dbo].[ExamScores] CHECK CONSTRAINT [FK_ExamScores_Exams]
GO
ALTER TABLE [dbo].[ExamScores]  WITH CHECK ADD  CONSTRAINT [FK_ExamScores_Scores] FOREIGN KEY([ScoreRegisterId])
REFERENCES [dbo].[Scores] ([Id])
GO
ALTER TABLE [dbo].[ExamScores] CHECK CONSTRAINT [FK_ExamScores_Scores]
GO
ALTER TABLE [dbo].[ExtraclassWorks]  WITH CHECK ADD  CONSTRAINT [FK_ExtraclassWorks_RegisterProfiles] FOREIGN KEY([RegisterProfileId])
REFERENCES [dbo].[RegisterProfiles] ([Id])
GO
ALTER TABLE [dbo].[ExtraclassWorks] CHECK CONSTRAINT [FK_ExtraclassWorks_RegisterProfiles]
GO
ALTER TABLE [dbo].[ExtraclassWorksScores]  WITH CHECK ADD  CONSTRAINT [FK_ExtraclassWorksScores_ExtraclassWorks] FOREIGN KEY([ExtraclassWorkId])
REFERENCES [dbo].[ExtraclassWorks] ([Id])
GO
ALTER TABLE [dbo].[ExtraclassWorksScores] CHECK CONSTRAINT [FK_ExtraclassWorksScores_ExtraclassWorks]
GO
ALTER TABLE [dbo].[ExtraclassWorksScores]  WITH CHECK ADD  CONSTRAINT [FK_ExtraclassWorksScores_Scores] FOREIGN KEY([ScoreRegisterId])
REFERENCES [dbo].[Scores] ([Id])
GO
ALTER TABLE [dbo].[ExtraclassWorksScores] CHECK CONSTRAINT [FK_ExtraclassWorksScores_Scores]
GO
ALTER TABLE [dbo].[RegisterProfiles]  WITH CHECK ADD  CONSTRAINT [FK_RegisterProfiles_SchoolYears] FOREIGN KEY([SchoolYearId])
REFERENCES [dbo].[SchoolYears] ([Id])
GO
ALTER TABLE [dbo].[RegisterProfiles] CHECK CONSTRAINT [FK_RegisterProfiles_SchoolYears]
GO
ALTER TABLE [dbo].[RegisterProfiles]  WITH CHECK ADD  CONSTRAINT [FK_RegisterProfiles_Subjects] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
GO
ALTER TABLE [dbo].[RegisterProfiles] CHECK CONSTRAINT [FK_RegisterProfiles_Subjects]
GO
ALTER TABLE [dbo].[RegisterProfiles]  WITH CHECK ADD  CONSTRAINT [FK_RegisterProfiles_Trimesters] FOREIGN KEY([TrimesterId])
REFERENCES [dbo].[Trimesters] ([Id])
GO
ALTER TABLE [dbo].[RegisterProfiles] CHECK CONSTRAINT [FK_RegisterProfiles_Trimesters]
GO
ALTER TABLE [dbo].[RegisterProfiles]  WITH CHECK ADD  CONSTRAINT [FK_RegisterProfiles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RegisterProfiles] CHECK CONSTRAINT [FK_RegisterProfiles_Users]
GO
ALTER TABLE [dbo].[Scores]  WITH CHECK ADD  CONSTRAINT [FK_Scores_Classes] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([Id])
GO
ALTER TABLE [dbo].[Scores] CHECK CONSTRAINT [FK_Scores_Classes]
GO
ALTER TABLE [dbo].[Scores]  WITH CHECK ADD  CONSTRAINT [FK_Scores_RegisterProfiles] FOREIGN KEY([RegisterProfileId])
REFERENCES [dbo].[RegisterProfiles] ([Id])
GO
ALTER TABLE [dbo].[Scores] CHECK CONSTRAINT [FK_Scores_RegisterProfiles]
GO
ALTER TABLE [dbo].[Scores]  WITH CHECK ADD  CONSTRAINT [FK_Scores_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[Scores] CHECK CONSTRAINT [FK_Scores_Students]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Classes] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Classes]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Institution] FOREIGN KEY([InstitutionId])
REFERENCES [dbo].[Institution] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Institution]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
