<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Content/css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Content/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="~/Content/css/site/common.css" rel="stylesheet" />

    <!-- jQuery -->
    <script src="~/Content/js/jquery.js"></script>
</head>
<body>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <label class="navbar-brand" href="/Dashboard">Registro Virtual</label>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i><span id="user-in-content">@(((Models.UserModel)HttpContext.Current.Session["User"]).FullName)</span><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@( "/User/Create/" + ((Models.UserModel)HttpContext.Current.Session["User"]).Id)"><i class="fa fa-fw fa-user"></i> Perfil</a>
                        </li>
                        <li>
                            <a href="/Login/Logout"><i class="fa fa-fw fa-power-off"></i> Cerras Sesión</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="/Dashboard"><i class="fa fa-fw fa-dashboard"></i> Inicio</a>
                    </li>
                    <li>
                        <a href="/RegisterProfile"><i class="fa fa-fw fa-bar-chart-o"></i> Rúbricas</a>
                    </li>
                    <li>
                        <a href="/Score"><i class="fa fa-fw fa-table"></i> Calificaciones</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#mantains"><i class="fa fa-fw fa-gears"></i> Mantenimiento <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="mantains" class="collapse">
                            <li>
                                <a href="/Institution">Instituciones</a>
                            </li>
                            <li>
                                <a href="/Class">Secciones</a>
                            </li>
                            <li>
                                <a href="/Student">Estudiantes</a>
                            </li>
                            <li>
                                <a href="/User">Usuarios</a>
                            </li>
                            <li>
                                <a href="/Student/ImportTask">Importar</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#reports"><i class="fa fa-fw fa-file-text-o"></i> Reportes <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="reports" class="collapse">
                            <li>
                                <a href="/TrimestralScoresReport">Calificaciones Trimestrales</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <!-- END Navigation -->

        @RenderBody()

    </div>
      
    <!-- /#wrapper -->

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/js/bootstrap.min.js"></script>

    <script src="~/Content/js/site/common.js"></script>
</body>
</html>
