<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="RegistroVirtualEntities" connectionString="metadata=res://*/Model.RegistroVirtualModel.csdl|res://*/Model.RegistroVirtualModel.ssdl|res://*/Model.RegistroVirtualModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=b1d5d26d-1a79-40d6-ad83-a6fd0189a61d.sqlserver.sequelizer.com;persist security info=True;user id=fqlrmhcdttsfvtvv;password=JLwSRh7mCCJMwB7STnjSPuwR4Lx8HSDgBmv2VWrePqnbQzTrVaALLgjppMWfR7LS;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>