@model IEnumerable<Models.RegisterProfileModel>

@{
    ViewBag.Title = "Register Profiles";
    Layout = "~/Layouts/DashboardLayout.cshtml";
}

@{
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: 5,
    selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
    grid.Pager(WebGridPagerModes.Numeric);
}

<link href="~/Content/css/site/grid.css" rel="stylesheet" />

<div id="page-wrapper">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Register Profiles
                </h1>
            </div>
        </div>

        <div class="row filters-container">

            <div class="col-lg-12">
                <h3>
                    Filter
                </h3>
            </div>

            <div class="col-lg-6">
                @using (Html.BeginForm("Index", "RegisterProfile", FormMethod.Get))
                {
                    <div class="form-group col-md-7">
                        <label>Name:</label>
                        @Html.TextBox("NameFilter", string.Empty, new { placeholder = "Name", @class = "form-control" })
                    </div>

                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary btn-block btn-large"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                    </div>
                }
            </div>
        </div>

        <!-- List -->
        <div class="row">
            <div class="col-md-4">
                <a href="/RegisterProfile/Create" class="fa fa-plus-square new-button" aria-hidden="true"></a>
            </div>
        </div>
        <div class="row grid-container">
            <div class="col-lg-8">
                @grid.GetHtml(tableStyle: "webGrid",
                footerStyle: "footer",
                headerStyle: "header",
                alternatingRowStyle: "alt",
                selectedRowStyle: "select",
                columns: grid.Columns(
                grid.Column("Name", "Name"),
                grid.Column("DailyWorkPercentage", "Daily Work Percentage"),
                grid.Column("ConceptPercentage", "Concept Percentage"),
                grid.Column("AssistancePercentage", "Assistance Percentage"),
                grid.Column("Exams", format: (item) => item.Exams.Count),
                grid.Column("Extraclasses", format: (item) => item.ExtraclassWorks.Count),
                grid.Column(columnName: "Action", style: "action", format: (item) => Html.ActionLink(" ", "Create", new { id = item.id }, new { @class = "fa fa-pencil edit-button" }))
                ))
            </div>

        </div>
    </div>

</div>