@model IEnumerable<Models.ClassModel>

@{
    ViewBag.Title = "Secciones";
    Layout = "~/Layouts/DashboardLayout.cshtml";
}

@{
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: 5,
    selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
    grid.Pager(WebGridPagerModes.Numeric);
}

<link href="~/Content/css/site/grid.css" rel="stylesheet" />

<div id="page-wrapper">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Secciones
                </h1>
            </div>
        </div>

        @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
        {
            <!-- Error -->
            <div class="row">
                <div class="col-lg-6 success-message">
                    @ViewBag.SuccessMessage
                </div>
            </div>
        }

        <div class="row filters-container">

            <div class="col-lg-12">
                <h3>
                    Filtros
                </h3>
            </div>

            <div class="col-lg-6">
                @using (Html.BeginForm("Index", "Class", FormMethod.Get))
                {
                    <div class="form-group col-md-8">
                        <label>Nombre:</label>
                        @Html.TextBox("NameFilter", string.Empty, new { placeholder = "Nombre", @class = "form-control" })
                    </div>

                    <div class="col-md-5">
                        <button type="submit" class="btn btn-primary btn-block btn-large"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
                    </div>
                }
            </div>
        </div>

        <!-- List -->
        <div class="row">
            <div class="col-md-4">
                <a href="/Class/Create" class="fa fa-plus-square new-button" aria-hidden="true"></a>
            </div>
        </div>
        <div class="row grid-container">
            <div class="col-lg-6">
                @grid.GetHtml(tableStyle: "table table-responsive webGrid",
                footerStyle: "footer",
                headerStyle: "header",
                alternatingRowStyle: "alt",
                selectedRowStyle: "select",
                columns: grid.Columns(
                grid.Column("Name", "Nombre"),
                grid.Column(columnName: "Acciones", style: "action", format: (item) => Html.ActionLink(" ", "Create", new { id = item.id }, new { @class = "fa fa-pencil edit-button" }))
                ))
            </div>

        </div>
    </div>

</div>