@model Models.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/css/site/login.css" rel="stylesheet" />
    <link href="~/Content/css/site/common.css" rel="stylesheet" />
</head>
<body>
    <div class="login">
        <h1>Iniciar Sesión</h1>

        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <!-- Error -->
            <div class="row">
                <div class="col-lg-6 error-message">
                    @ViewBag.ErrorMessage
                </div>
            </div>
        }

        @using (Html.BeginForm("Validate", "Login", FormMethod.Post))
        {
            <input type="hidden" id="returnUrl" name="returnUrl" value="@ViewBag.ReturnUrl" />
            @Html.TextBoxFor(m => m.Username, new { required = "required", placeholder = "Usuario" })
            @Html.PasswordFor(m => m.Password, new { required = "required", placeholder = "Contraseña" })
            
            <button type="submit" class="btn btn-primary btn-block btn-large">Autenticar</button>
        }

    </div>
</body>
</html>
