.scores-table {
    margin: 20px 0;
    display: block;
}

.score-item .col3Width:first-child {
    font-size: 12px;
}

.score-item:hover {
    background-color: #bbbaba;
}

.scores-table th {
    font-size: 14px;
}

.scores-table>thead>tr>th>th, .scores-table>tbody>tr>td {
    padding: 2px;
}

.ajax-loader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../../../images/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

.score-grid-divider {
    border-top: 1px solid #ccc;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .ajax-loader {
    display: block;
}
